body {
    font-family: Arial, sans-serif;
    background-image: url('https://source.unsplash.com/1920x1080/?technology');
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    color: #fff;
}

h2 {
    color: #f0f0f0;
}

h3 {
    color: #ffcc00;
}

p, ul, ol {
    font-size: 18px;
    line-height: 1.6;
}

.lesson {
    display: none;
}

.fade {
    animation: fade 1s;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

.navigation-buttons {
    text-align: center;
    margin-bottom: 20px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.navigation {
    text-align: center;
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #f0f0f0;
}
  .er1 {
    color: red;
}
